<h1>Interview Availability Form</h1>
<h2><%= @interview_stage.name %></h2>
<%= if @edit_mode do %> 
  <FormComponents.edit_availability />
<% else %>
  <FormComponents.show_availability
    selected_week_beginning={@selected_week_beginning}
        availability_for_week={
      find_availability_for_week(
        @selected_week_beginning,
        @interview_stage.interview_availabilities
      )
    }
  />
<% end %>
